/*-----------------------
         for all
 ------------------------ */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: #131313;
    /* background-color: aquamarine; */
}
p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.button{
    background-color: #FF900E;
    margin-top: 32px;
    padding: 20px 30px;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
}
body{
    max-width: 1200px;
    margin: auto;
}

/* ---------------------------------
             header section
---------------------------------------- */
.Architect{
    background: rgba(255, 144, 14, 0.1);
    padding:70px 20px;
}
.Architect-nav-header{
    /* font-weight:900; */
    font-size: 35px;
    font-weight:800;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left:40px;
    /* margin-right: 50px; */
    font-weight: 500;
    font-size: 18px;
}
nav ul{
    display: flex;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-details{
    margin: 30px;
    text-align: center;
}
.banner-header{
    margin-top: 40px;
     margin-bottom: 20px;
     font-size:40px;
     /* color: #FF900E; */
}
.banner-image{
    width: 80%;
    margin-bottom: 20px;
}
.banner-image img{
    width: 100%;
}
/* -------------------------------------------
            quick feature section 
---------------------------------------------- */
.body-part{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 2px solid red; */
    justify-content: center;
    margin: 0 10%;
}
.quick-feature{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quick-feature-images{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4 px;
    margin: 8px;
}
.quick-feature-images img{
    width: 90%;
    height: 90%;
}
.quick-feature-details{
    width: 50%;
    padding: 50px;
}
.quick-feature-details h2{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
}
.special1{
    color:#727272
}
.special2{
    color: #131313;
}
.special3{
    color: #FF900E;
}

/* -------------------------------------------
    feature experience section 
---------------------------------------------- */
.feature-experience{
    margin: 50px 0px;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    gap: 10px;
}
.feature-experience h1{
    border-left: 5px solid #FF900E;
    /* margin-left: 20px; */
    padding-left: 15px;
    margin-bottom: 15px;
}
.feature-experience-details{
    width: 50%;
    padding-right: 15px;
    border: 2px solid red;
    font-size: 18px;
}
.feature-type{
    /* border: 2px solid chartreuse; */
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(76, 76, 76, 0.06);
    border-radius: 8px;
    margin:20px 10px;
}
.feature-experience-image{
    width: 50%;
    border: 2px solid red;
   
}
.feature-experience-image img{
    width: 100%;
    /* padding: 5px; */
    height: 100%;
}
.ten-year{
    color: #FFFFFF;
    font-size:x-large;
    font-weight: 700;
    padding: 15px 10px;
}
.year-btn{
    position: absolute;
    left: 50%;
    /* top:334%; */
    margin-top: 850px;
}
/* -------------------------------------------
   some fact section
---------------------------------------------- */

.some-fact{
    /* border: 5px solid black;
    background-color:beige; */
    margin: 50px 0;
    /* text-align:left; */
}
.fact-header {
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}
.fact-details{
    width: 50%;  
}
.fact-details p{
    margin: 20px 0;
}
.fact-icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   justify-items: center;
   margin: 30px 0;
}
.icon-details{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 10px;
    transition:transform 1s 0.11s ease-in;
}
.icon-details:hover{
    transform: rotate(90deg);
}
/* -------------------------
          sponspor section
--------------------------- */

.sponspor-details{
    text-align: center;
    margin: 30px 20px;
}
.sponspor-header{
    font-size: 30px;
     font-weight: bold;
    margin: 20px 0;
}
.sponspor-icon img{
    height: 40px;
    width: 120px;
}
.sponspor-icon{
    display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        margin: 30px 20px;
}

/* -------------------------
          footer section
--------------------------- */
footer{
    background-color: #FFF4E7;
    padding: 20px;
    text-align: center;
    margin: 20px 10% 0 10%;
}











/* responsiveness  */

/* for mobile */
@media only screen and (max-width: 576px) {
    /* ---------------------------------
                 header section
    ---------------------------------------- */
    .Architect-nav-header{
        margin: 20px 0px;
    }
    nav{
        flex-direction: column;
            align-items: center;
            
    }
        nav ul {
            flex-direction: column;
            justify-content: center;
        }
        nav li {
            margin-bottom: 10px;
        }
 /* -------------------------------------------
            quick feature section 
---------------------------------------------- */
  .quick-feature-images{
    grid-template-columns: repeat(1, 1fr);
  }
  .quick-feature{
    flex-direction: column;
  }

/* -------------------------------------------
    feature experience section
---------------------------------------------- */
.feature-experience{
    flex-direction: column;
    align-items: center; 
}
.feature-type{
    margin: 10px 0;
    padding: 5px;
}
/* .feature-experience-details .feature-experience-image{
    width: 90%;
} */
.year-btn{
   position: relative;
   left: 10px;
   margin-top: 10px;
}
.ten-year {
    width: 90%;
    font-size:medium;
    font-weight: 500;
    padding: 10px;
}

/* -------------------------------------------
       some fact section 
---------------------------------------------- */
.fact-details{
    width: 100%;
    text-align: center;
}
.fact-icon{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

/* -------------------------------------------
       sponspor section 
---------------------------------------------- */
.sponspor-icon{
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

}
